<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="app">
<table border="1">

  <tr>
    <td>№п/п</td>
    <td>Прізвище Імʼя</td>
    <td>Телефон</td>
    <td>Відділ</td>
  </tr>
    <tr v-for="emp in employees">
        <td>{{emp.code}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.position}}</td>
    </tr>

</table>
<br><br>
<div>
<form @submit.prevent="addEmployee"  >
    <input type="text" placeholder="№" v-model="code" required><br>
    <input type="text" placeholder="Name" v-model="name_" required><br>
    <input type ="text" placeholder="Phone" v-model="phone" required><br>
    <input type="text" placeholder="Position" v-model="position" required><br>
    <button type="submit" >Send</button>
</form>
    <span id="error_phone"></span>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>